.forest {
    width: 350px;
}

h1 {
    text-align: center;
    margin-top: 35px;
}

.aboutus {
    margin-top: 20px;
    margin-bottom: 50px;
}

@media (min-width: 400px) {
    .forest {
        width: 395px;
    }
    
    h1 {
        text-align: center;
        margin-top: 35px;
    }
    
    .aboutus {
        margin-top: 20px;
        margin-bottom: 50px;
    }
}

 @media (min-width: 768px) {
    .forest {
        width: 700px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    h1 {
        text-align: center;
        margin-top: 35px;
    }
    
    .aboutus {
        margin-top: 20px;
        margin-bottom: 50px;
        text-align: center;
        padding: 20px;
    }
}

 @media (min-width: 1000px) {
    .forest {
        width: 1000px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    h1 {
        text-align: center;
        margin-top: 35px;
    }
    
    .aboutus {
        margin-top: 20px;
        margin-bottom: 50px;
        max-width: 500px;
        font-size: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}