h1 {
    text-align: center;
    margin-top: 35px;
}

.contacttext {
    padding: 10px;
}

.container-form {
        background-color: #f2f2f2;
        border: 1px solid lightgrey;
        border-radius: 5px;
        width: 350px;
        margin-bottom: 80px;
        display: block;
        margin-left: auto;
        margin-right: auto;
}

.row {
        width: 350px;
        padding: 5px;
}

input[type="text"], textarea  {
    width: 85%;
    margin: 5px;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }

  .submitbtn {
    background-color: #00b894;
    border-radius: 6px;
    padding: 12px 50px;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .submitbtn a {
      text-decoration: none;
  }

  .form-error {
    display: none;
    color: red;
    font-size: 0.9rem;
    margin-top: 2px;
}

@media (min-width: 1000px) {
  .contacttext {
      text-align: center;
  }
  
  
  }