.usercontainer {
    color: #72878c;
}

.shopcart {
    width: 30px;
    height: 30px;
    float: right;
    margin-right: 10px;
}

.loginicon {
    width: 20px;
    height: 20px;
    float: right;
    margin-right: 10px;
    margin-top: 5px;
}

.logo {
    max-width: 350px;
}

.punchline {
    text-align: center;
    font-size: 13px;
    color: #72878c;
}

.hamburger-label {
    float: right;
    color: black;
    padding: 10px;
    font-size: 1.5em;
    display: block;
    margin-top: 30px;
  }

  #hamburger-menu {
    display: none;
    float: right;
  }
  
  #hamburger-menu:checked ~ nav {
    display: flex;
    margin-top: 20px;
    max-width: 350px;
    height: 90px;
  }

  nav {
    display: none;
    margin-top: 30px;
  }
  
  nav a, li, ul {
    text-decoration: none;
    color: black;
    padding: 7px;
    display: flex;
    background:  #d98b48;
    max-width: 350px;
    text-align: center;
  }

  .footerblock {
      border: 1px solid black;
      display: block;
      text-align: center;
      background-color: #72878c;
      max-width: 360px;
      max-height: 200px;
  }

  .some span {
      font-size: 30px;
      margin: 10px;
      padding: 10px;
      color: #d98b48;
  }

  @media (min-width: 400px) {
    .usercontainer {
        color: #72878c;
    }
    
    .shopcart {
        width: 30px;
        height: 30px;
        float: right;
        margin-right: 10px;
    }

    .loginicon {
        width: 20px;
        height: 20px;
        float: right;
        margin-right: 10px;
        margin-top: 5px;
    }
    
    .logo {
        max-width: 395px;
    }
    
    .punchline {
        text-align: center;
        font-size: 13px;
        color: #72878c;
    }
    .footerblock {
        border: 1px solid black;
        display: block;
        text-align: center;
        background-color: #72878c;
        max-width: 395px;
        max-height: 200px;
    }
  }

  @media (min-width: 768px) {
    .usercontainer {
        color: #72878c;
    }
    
    .shopcart {
        width: 40px;
        height: 40px;
        float: right;
        margin-right: 10px;
    }

    .loginicon {
        width: 25px;
        height: 25px;
        float: right;
        margin-right: 20px;
        margin-top: 5px;
    }
    
    .logo {
        max-width: 750px;
    }
    
    .punchline {
        text-align: center;
        font-size: 18px;
        color: #72878c;
    }

    .hamburger-label {
        float: right;
        color: black;
        padding: 10px;
        font-size: 1.5em;
        display: block;
        margin-top: 30px;
      }
    
      #hamburger-menu {
        display: none;
        float: right;
      }
      
      #hamburger-menu:checked ~ nav {
        display: flex;
        margin-top: 20px;
        max-width: 350px;
        height: 90px;
      }
    
      nav {
        display: none;
        margin-top: 30px;
      }
      
      nav a, li, ul {
        text-decoration: none;
        color: black;
        padding: 7px;
        display: flex;
        background:  #d98b48;
        max-width: 350px;
        text-align: center;
      }

    .footerblock {
        border: 1px solid black;
        display: block;
        text-align: center;
        background-color: #72878c;
        max-width: 750px;
        max-height: 200px;
    }
  }

  @media (min-width: 1000px) {
    .usercontainer {
        color: #72878c;
        width: 1200px;
    }
    
    .shopcart {
        width: 40px;
        height: 40px;
        float: right;
        margin-right: 10px;
    }

    .loginicon {
        width: 25px;
        height: 25px;
        float: right;
        margin-right: 20px;
        margin-top: 5px;
    }
    
    .logo {
        max-width: 1180px;
        margin-left: 45px;
    }
    
    .punchline {
        text-align: center;
        font-size: 20px;
        color: #72878c;
    }


    .hamburger-label {
        float: right;
        color: black;
        padding: 10px;
        font-size: 1.5em;
        display: none;
        margin-top: 30px;
      }
    
      #hamburger-menu {
        display: none;
        float: right;
      }
      
      #hamburger-menu:checked ~ nav {
        display: none;
        margin-top: 20px;
        max-width: 350px;
        height: 90px;
      }
    
      nav {
        display: block;
        margin-top: 30px;
      }
      
      nav a, li, ul {
        text-decoration: underline;
        color: black;
        padding: 7px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        background:  #d98b48;
        max-width: 750px;
        text-align: center;
      }

    .footerblock {
        border: 1px solid black;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        background-color: #72878c;
        max-width: 1180px;
        max-height: 200px;
    }
  }