body {
    margin: 0;
    padding: 0;
}

.brand-name {
    margin: .5rem;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    height: 50px;
    width: 120px;
}

.punchline {
    text-align: center;
    font-size: 13px;
    color: #72878c;
}

.navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: #333;
    color: white;
    display: flex;
}

.toggle-button {
    display: flex;
}

.navbar-links {
    display: none;
    width: 100%;
}

.navbar-links ul {
    width: 80%;
    flex-direction: column;
}

.navbar-links ul li {
    text-align: center;
    list-style: none;
    padding: 1rem;
}

.navbar-links ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.navbar-links.active {
    display: flex;
}

.footerblock {
    border: 1px solid black;
    display: block;
    text-align: center;
    background-color: #72878c;
    width: auto;
    max-height: 300px;
}

@media (min-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .punchline {
        text-align: center;
        font-size: 16px;
        color: #72878c;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: block;
    }
}

@media (min-width: 1000px) {
    .punchline {
        text-align: center;
        font-size: 25px;
        color: #72878c;
    }

    .brand-name {
            margin: 1rem;
            display: flex;
            margin-left: 50px;
    }

    .logo {
        width: 220px;
        height: 100px;
    }

    .toggle-button {
        display: none;
    }

    .navbar {
        display: flex;
        flex-direction: row;
    }

    .navbar-links {
        margin-top: 10px;
        display: flex;
    }

    .navbar-links ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: 30px;
        margin-right: 150px;
    }

    .navbar-links ul li {
        display: flex;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
        font-size: 23px;
    }
}