.usercontainer {
    color: #72878c;
}

.shopcart {
    width: 30px;
    height: 30px;
    float: right;
    margin-right: 10px;
}

.logo {
    max-width: 350px;
}

.punchline {
    text-align: center;
    font-size: 13px;
    color: #72878c;
}

.hamburger-label {
    float: right;
    color: black;
    padding: 10px;
    font-size: 1.5em;
    display: block;
    margin-top: 30px;
  }

  #hamburger-menu {
    display: none;
    float: right;
  }
  
  #hamburger-menu:checked ~ nav {
    display: flex;
    margin-top: 20px;
    max-width: 350px;
    height: 90px;
  }

  nav {
    display: none;
    margin-top: 30px;
  }
  
  nav a, li, ul {
    text-decoration: none;
    color: black;
    padding: 7px;
    display: flex;
    background:  #d98b48;
    max-width: 350px;
    text-align: center;
  }

  .footerblock {
      border: 1px solid black;
      display: block;
      text-align: center;
      background-color: #72878c;
      max-width: 360px;
  }

  .some span {
      font-size: 30px;
      margin: 10px;
      padding: 10px;
      color: #d98b48;
  }