.indexup {
    max-width: 360px;
    margin: 10px auto;
}

.stocksale {
    margin: 20px auto;
    margin-bottom: 50px;
    max-width: 360px;
}

.hishers-container {
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
}

.hishers {
    border: 1px solid black;
    display: inline-block;
    margin-left: 55px;
    padding: 20px;
}

.hishers:hover {
    background-color: #d98b48;
}

