.indexup {
    max-width: 370px;
    margin-left: auto;
    margin-right: auto;
}

.stocksale {
    margin-bottom: 50px;
    max-width: 370px;
    margin-left: auto;
    margin-right: auto;
}

.hishers-container {
    margin: 30px;
    display: block;
    margin-left: 107px;
}

.his {
    border: 1px solid black;
    padding: 10px;
}

.hers {
    border: 1px solid black;
    padding: 10px;
}

.his:hover {
    background-color: #d98b48;
}

.hers:hover {
    background-color: #d98b48;
}

@media (min-width: 600px) {
    .indexup {
        max-width: 410px;
        margin: 10px auto;
    }
    
    .stocksale {
        margin: 20px auto;
        margin-bottom: 50px;
        max-width: 410px;
    }
    
    .hishers-container {
        margin: 30px;
        margin-left: auto;
        margin-right: auto;
    }
    .hishers {
        border: 1px solid black;
        display: inline-block;
        margin-left: 85px;
        padding: 10px;
    }
}

@media (min-width: 768px) {
    .indexup {
        max-width: 750px;
        margin-top: 20px;
        display: block;
        justify-content: center;
    }
    
    .stocksale {
        display: block;
        justify-content: center;
        margin-bottom: 50px;
        max-width: 750px;
    }
    
    .hishers-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        position: relative;
        width: 70%;
        text-align: center;
    }

    .his {
        border: 1px solid black;
        margin: 30px;
        padding: 25px;
    }

    .hers {
        border: 1px solid black;
        margin: 30px;
        padding: 25px;
    }
}

@media (min-width: 1000px) {
    .indexup {
        max-width: 1000px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
    }
    
    .stocksale {
        max-width: 1000px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        margin-bottom: 100px;
    }
    
    .hishers-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        position: relative;
        width: 70%;
        text-align: center;
    }

    .his {
        border: 1px solid black;
        margin: 50px;
        padding: 25px;
    }

    .hers {
        border: 1px solid black;
        margin: 50px;
        padding: 25px;
    }

  }