.indexup {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.imgcontainer {
    position: relative;
    text-align: center;
}

.top-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: white;
    font-size: 19px;
}

.trip {
    margin-bottom: 50px;
    width: 350px;;
    margin-left: auto;
    margin-right: auto;
}

.mid-right {
    position: absolute;
    top: 60%;
    left: 70%;
    transform: translate(-50%, -50%);
    color: white;
  }

.hishers-container {
    margin: 10px;
    display: flex;
}

.shopbtn {
    border: 1px solid black;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    color: #72878c;
    margin: auto;
}

.shopbtn:hover {
    background-color: #d98b48;
}

@media (min-width: 600px) {
    .indexup {
        max-width: 410px;
        margin: 10px auto;
    }
    
    .stocksale {
        margin: 20px auto;
        margin-bottom: 50px;
        max-width: 410px;
    }
    
    .hishers-container {
        margin: 30px;
        margin-left: auto;
        margin-right: auto;
    }

    .imgcontainer {
        position: relative;
        text-align: center;
    }
    
    .top-left {
        position: absolute;
        bottom: 8px;
        left: 16px;
        color: white;
        font-size: 25px;
    }
}

@media (min-width: 768px) {
    .indexup {
        max-width: 750px;
        margin-top: 20px;
        display: block;
        justify-content: center;
    }
    
    .trip {
        margin-bottom: 50px;
        width: 750px;;
        margin-left: auto;
        margin-right: auto;
    }
    
    .mid-right {
        position: absolute;
        top: 60%;
        left: 70%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 30px;
      }
    
    .hishers-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        position: relative;
        width: 70%;
        text-align: center;
    }
}

@media (min-width: 1000px) {
    .indexup {
        max-width: 1000px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
    }
    
    .stocksale {
        max-width: 1000px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        margin-bottom: 100px;
    }
    
    .hishers-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        position: relative;
        width: 70%;
        text-align: center;
    }

  }

  @media (min-width: 1000px) {
    .top-left {
        position: absolute;
        bottom: 8px;
        left: 250px;
        color: white;
        font-size: 30px;
    }
  }

  @media (min-width: 1440px) {
    .top-left {
        position: absolute;
        bottom: 8px;
        left: 350px;
        color: white;
        font-size: 30px;
    }

    .trip {
        margin-bottom: 50px;
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .mid-right {
        position: absolute;
        top: 60%;
        left: 63%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 30px;
      }
  }

  @media (min-width: 1920px) {
    .top-left {
        position: absolute;
        bottom: 8px;
        left: 550px;
        color: white;
        font-size: 30px;
    }
  }