.jacketdetails {
  margin-top: 50px;
}

h2 {
  margin-left: 20px;
}

.shortdesc {
  margin-left: 20px;
}

.longdesc {
  margin-left: 10px;
}
  
.sizebtn {
  width: 60px;
  height: 40px;
  margin-left: 10px;
}

.sizebtn.active {
  background-color: #d98b48;
}
 
.sizebtnone.active {
  background-color: #d98b48;
}


.usercontainer {
    display: flex;
    float: right;
}

.carticon {
    height: 30px;
    width: 30px;
    margin-right: 15px;
    margin-top: 5px;
}
  
.crt {
    background-color: #EDF3FF;
    border: 1px solid black;
    border-radius: 6px;
    padding: 12px 50px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 50px;
    width: 80px;
  }

  .crt a {
      text-decoration: none;
  }


  @media (min-width: 768px) {
    .jacketdetails {
      margin-top: 50px;
    }
    
    h2 {
      margin-left: 120px;
    }
    
    .shortdesc {
      margin-left: 120px;
    }
    
    .longdesc {
      margin-left: 120px;
      margin-top: 50px;
    }

    .mainjacket {
      margin-left: 100px;
    }

    .crt {
      background-color: #EDF3FF;
      border: 1px solid black;
      border-radius: 6px;
      padding: 12px 50px;
      margin-top: 40px;
      margin-bottom: 40px;
      margin-left: 180px;
      width: 80px;
    }

    .sizebtnone {
      width: 60px;
      height: 40px;
      margin-left: 120px;
    }
      
    .sizebtn {
      width: 60px;
      height: 40px;
      margin-left: 30px;
    }
 }

  @media (min-width: 1000px) {
    .jacketdetails {
      margin-top: 50px;
    }
    
    h2 {
      margin-left: 420px;
    }
    
    .shortdesc {
      margin-left: 420px;
    }
    
    .longdesc {
      margin-left: 420px;
      margin-top: 50px;
    }

    .mainjacket {
      margin-left: 420px;
      margin-top: 40px;
    }

    .crt {
      background-color: #EDF3FF;
      border: 1px solid black;
      border-radius: 6px;
      padding: 12px 50px;
      margin-top: 40px;
      margin-bottom: 90px;
      margin-left: 420px;
      width: 80px;
    }

    .sizebtnone {
      width: 60px;
      height: 40px;
      margin-left: 420px;
    }
      
    .sizebtn {
      width: 60px;
      height: 40px;
      margin-left: 30px;
    }
 }