h1 {
    text-align: center;
    margin-top: 55px;
}

.products {
    margin-top: 5px;
    text-align: center;
    display: inline-block;
  }
  
  .row {
    margin: 10px;
    border: 1px solid black;
    max-width: 350px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  
  .row-2 {
    margin: 10px;
    border: 1px solid black;
    max-width: 350px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .button {
    margin: 20px;
    border: 1px solid white;
    border-radius: 8px;
    width: 100px;
    padding: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background:  green;
  }

  .button a {
    color: white;
    text-decoration: none;
    font-size: 19px;
  }

  .usercontainer {
      display: flex;
      float: right;
  }

  .carticon {
      height: 40px;
      width: 40px;
      margin-right: 10px;
  }

  @media (min-width: 768px) {
    .products {
        margin-top: 5px;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 50px;
      }

      .row {
        margin: 10px;
        border: 1px solid black;
        width: 350px;
        text-align: center;
        display: flex;
        flex-direction: column;
      }
      
      .row-2 {
        margin: 10px;
        border: 1px solid black;
        width: 350px;
        text-align: center;
        display: flex;
        flex-direction: column;
      }


  }