h2 {
    text-align: center;
    margin-top: 5px;
}

.jacketcontainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 45px;
  }

  .jacketimg {
    max-width: 20px;
    text-align: center;
  }
  
  .product-card {
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin: 20px;
    width: 300px;
    box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.4);
  }

  .buybtn {
    text-decoration: none;
    border: 1px solid black;
    padding: 10px;
    margin: auto;
    border-radius: 5px;
    color: black;
  }

  .buybtn:hover {
    background-color:  #d98b48;
  }

  .usercontainer {
      display: flex;
      float: right;
  }

  .carticon {
      height: 30px;
      width: 30px;
      margin-right: 15px;
      margin-top: 5px;
  }

  @media (min-width: 768px) {
    .products {
        margin-top: 5px;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 50px;
      }

      .row {
        margin: 10px;
        border: 1px solid black;
        width: 350px;
        text-align: center;
        display: flex;
        flex-direction: column;
      }
      
      .row-2 {
        margin: 10px;
        border: 1px solid black;
        width: 350px;
        text-align: center;
        display: flex;
        flex-direction: column;
      }


  }