h1 {
    text-align: center;

}

.card {
    border: 1px solid black;
    max-width: 340px;
    height: auto;
    margin-top: 50px;
    margin-bottom: 200px;
    padding: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .success {
    max-width: 100px;
  }